In [ ]:
#import libraries

import numpy as np 
import pandas as pd

In [ ]:
cd /content/drive/MyDrive/Complete Genome

/content/drive/MyDrive/Complete Genome

In [ ]:
genome_df = pd.read_csv('genome_zeeshan_usmani.csv')
genome_df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

             # rsid chromosome  position genotype
0        rs12564807          1    734462       AA
1         rs3131972          1    752721       AG
2       rs148828841          1    760998       AC
3        rs12124819          1    776546       AA
4       rs115093905          1    787173       GG
...             ...        ...       ...      ...
610539     i4000693         MT     16524        A
610540     i4000757         MT     16526        G
610541     i4990307         MT     16527        C
610542     i4000756         MT     16540        C
610543     i3001931         MT     16547        C

[610544 rows x 4 columns]

In [ ]:
genome_df.chromosome.value_counts()

1     47742
2     46815
6     40965
3     39186
5     34900
4     34386
7     33552
8     30651
11    29883
10    29592
12    29068
9     27010
13    21882
16    19680
X     19588
17    19364
14    19002
15    18660
20    14730
18    14696
19    13948
22     9307
21     8571
MT     3287
Y      2129
18     1950
Name: chromosome, dtype: int64

In [ ]:
genome_df.genotype.value_counts()

CC    112479
GG    112108
TT     88446
AA     88386
CT     66557
AG     66433
GT     15299
AC     15229
II     10634
--      7125
C       6028
G       5748
A       5365
T       4964
DD      3604
CG       787
I        661
AT       430
D        213
DI        48
Name: genotype, dtype: int64

In [ ]:
chromosomes = {k: v for k, v in genome_df.groupby('chromosome')}

In [ ]:
chromosomes.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, '18', '19', '20', '21', '22', 'MT', 'X', 'Y'])

In [ ]:
for i in chromosomes:
    chromosomes[i].sort_values(by='position')

In [ ]:
print(chromosomes[1][0:10])
print(chromosomes['MT'][0:10])

        # rsid chromosome  position genotype
0   rs12564807          1    734462       AA
1    rs3131972          1    752721       AG
2  rs148828841          1    760998       AC
3   rs12124819          1    776546       AA
4  rs115093905          1    787173       GG
5   rs11240777          1    798959       GG
6    rs7538305          1    824398       AA
7    rs4970383          1    838555       AA
8    rs4475691          1    846808       TT
9    rs7537756          1    854250       GG
          # rsid chromosome  position genotype
607257  i4001200         MT         3        T
607258  i4001110         MT         7        A
607259  i4001358         MT         9        G
607260  i4000553         MT        26        C
607261  i4001079         MT        40        T
607262  i4001190         MT        41        C
607263  i4000964         MT        43        C
607264  i4001177         MT        46        T
607265  i4000987         MT        49        A
607266  i3001827         MT        52        T

In [ ]:
#Some single SNP analysis (Based on research from SNPedia)

#Sex

genome_df.loc[genome_df['chromosome'] == 'Y']

            # rsid chromosome  position genotype
605128    i4000095          Y   2649694        T
605129    i4000093          Y   2649696       --
605130  rs11575897          Y   2655180        G
605131    i5004371          Y   2655248        G
605132    i5004367          Y   2655265        T
...            ...        ...       ...      ...
607252   rs6568298          Y  59029728        T
607253   rs4047343          Y  59030922        G
607254   rs6568294          Y  59031514        C
607255   rs2334083          Y  59032331        C
607256   rs9724556          Y  59032809        C

[2129 rows x 4 columns]

In [ ]:
'''
Result for Sex: There is a Y chromosome with SNP data present so the patient is a male.'''

'\nResult for Sex: There is a Y chromosome with SNP data present so the patient is a male.'

In [ ]:
#Eye color
genome_df.loc[genome_df['# rsid'].isin(['rs4778241','rs12913832','rs7495174', 'rs8028689', 'rs7183877', 'rs1800401'])]

 #genoset 237 for eye color - SNPedia.

            # rsid chromosome  position genotype
465968   rs1800401         15  28260053       AA
465992   rs4778241         15  28338713       AC
465993   rs7495174         15  28344238       AG
465995  rs12913832         15  28365618       AA
465996   rs7183877         15  28365733       CC

In [ ]:
'''
Result for Eye color

The subject is heterozygous in rs4778241 and rs7495174

for .rs7495174 there will be blue/gray eyes less likely

for  rs12913832 there is  brown eye color, 80% of the time

 '''

'\nResult for Eye color\n\nThe subject is heterozygous in rs4778241 and rs7495174\n\nfor .rs7495174 there will be blue/gray eyes less likely\n\nfor  rs12913832 there is  brown eye color, 80% of the time\n\n '

In [ ]:
#prevents weight gain from high fat diets

genome_df.loc[genome_df['# rsid'].isin(['rs662799'])]

          # rsid chromosome   position genotype
389860  rs662799         11  116663707       AA

In [ ]:
'''
Result  for weight gain from high fat diets

He is normal
'''

'\nResult  for weight gain from high fat diets\n\nHe is normal\n'

In [ ]:
#resistance to HIV
genome_df.loc[genome_df['# rsid'].isin(['rs333'])]

Empty DataFrame
Columns: [# rsid, chromosome, position, genotype]
Index: []

In [ ]:
'''
Result 
very resistant to HIV

Ref: https://snpedia.com/index.php/Rs333(-;-)

'''

'\nResult \nvery resistant to HIV\n\nRef: https://snpedia.com/index.php/Rs333(-;-)\n\n'

In [ ]:
#Baldness
genome_df.loc[genome_df['# rsid'].isin(['rs1385699','rs6152', 'rs2223841','rs1160312', 'rs2180439'])]

           # rsid chromosome  position genotype
559053  rs2180439         20  21853100       CT
559089  rs1160312         20  22050503       AG
593633  rs1385699          X  65824986        T
593712  rs2223841          X  66570171        T

In [ ]:
'''
Result

1.6x increased risk of Male Pattern Baldness.
Increased risk of Male Pattern Baldness.

So Finally he will have baldness after age 40
'''

'\nResult\n\n1.6x increased risk of Male Pattern Baldness.\nIncreased risk of Male Pattern Baldness.\n\nSo Finally he will have baldness after age 40\n'